<h1>Simulations</h1>
<ul>
  <% @simulations.each do |simulation| %>
    <li><%= link_to simulation.name, simulation_path(simulation) %></li>
  <% end %>
</ul>
<%= link_to 'New Simulation', new_simulation_path %>
