<div class="page-home">
  <h1>Ren0vate</h1>
  <p>Bienvenue dans notre app, qui veut du bien à votre portefeuille</p>

  <strong><%= link_to "Liste des primes en flandre", primes_path %></strong>


  <!-- Sélecteur de région -->
  <div data-controller="region-selector" class="mt-3">
    <h3>Dans quelle région se situe le bien à rénover ?</h3>
    <div class="btn-group my-3" role="group">
      <button type="button" class="btn btn-outline-primary"
              data-action="click->region-selector#select"
              data-region="flandre">Flandre</button>
      <button type="button" class="btn btn-outline-primary"
              data-action="click->region-selector#select"
              data-region="wallonie">Wallonie</button>
      <button type="button" class="btn btn-outline-primary"
              data-action="click->region-selector#select"
              data-region="bruxelles">Bruxelles</button>
    </div>
  </div>

  <!-- Affichage des profils selon la région -->
  <div data-controller="region-display">
    <div data-region-display-target="flandre" class="d-none" data-controller="user-type">
      <h3>Flandre – Quel est votre profil ?</h3>
        <div class="btn-group my-3" role="group">
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="prive">Particulier</button>
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="entreprise">Entreprise</button>
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="syndic">Syndic de Copropriété</button>
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="bailleur">Bailleur social</button>
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="asbl">ASBL ou Coopérative</button>
        </div>
    </div>

    <div data-region-display-target="wallonie" class="d-none">
      <h4>Wallonie – Quel est votre profil ?</h4>
        <div class="btn-group my-3" role="group">
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="prive">Particulier</button>
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="entreprise">Entreprise</button>
        </div>
    </div>

    <div data-region-display-target="bruxelles" class="d-none">
      <h4>Bruxelles – Quel est votre profil ?</h4>
        <div class="btn-group my-3" role="group">
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="prive">Particulier</button>
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="entreprise">Entreprise</button>
          <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="autres">Autres</button>
        </div>
    </div>
  </div>


  <div id="eligibility-test" data-controller="test-eligibilite" class="d-none">
    <h3>Test d’éligibilité</h3>

    <form id="eligibilityForm" name="eligibilityForm" data-eligibilite-target="form">
      <!-- STEP 2 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Le bien est-il destiné à être habité ?</h4>
          <label><input type="radio" name="usage" value="habite" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="usage" value="non_habite" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 3 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Êtes-vous propriétaire du bien ?</h4>
          <label><input type="radio" name="proprietaire" value="oui" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="proprietaire" value="non" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 4 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Possédez-vous un autre bien/appartement/terrain en pleine propriété ?</h4>
          <label><input type="radio" name="autre_bien" value="oui" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="autre_bien" value="non" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 5 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Le logement a-t-il été construit et raccordé au réseau d'électricité avant le 1er janvier 2006 ?</h4>
          <label><input type="radio" name="annee" value="avant" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="annee" value="apres" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 6 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Quel est le type de bien ?</h4>
          <label><input type="radio" name="type" value="maison" data-action="change->test-eligibilite#handleAnswer"> Maison</label>
          <label><input type="radio" name="type" value="appartement" data-action="change->test-eligibilite#handleAnswer"> Appartement</label>
      </div>

      <!-- STEP 7 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Pour un appartement, souhaitez-vous faire la demande pour :</h4>
          <label><input type="radio" name="copro" value="commune" data-action="change->test-eligibilite#handleAnswer"> Parties communes (via syndic)</label>
          <label><input type="radio" name="copro" value="privee" data-action="change->test-eligibilite#handleAnswer"> Partie privative</label>
      </div>

      <!-- STEP 8 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Le certificat PEB indique-t-il un label E ou F avant rénovation ?</h4>
          <label><input type="radio" name="peb" value="ef" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="peb" value="autre" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 9 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Êtes-vous ou serez-vous domicilié dans ce logement ?</h4>
          <label><input type="radio" name="domicile" value="oui" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="domicile" value="non" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 10 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Le logement est-il un ancien bâtiment démoli avec TVA à 6%?</h4>
          <label><input type="radio" name="demolition" value="oui" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="demolition" value="non" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 11 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Envisagez-vous de réaliser des travaux d'isolation ou de remplacement de châssis/chauffage ?</h4>
          <label><input type="radio" name="travaux" value="oui" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="travaux" value="non" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>

      <!-- STEP 12 -->
      <div class="form-card" data-eligibilite-target="formCard">
        <h4>Êtes-vous un client protégé ?</h4>
          <label><input type="radio" name="protege" value="oui" data-action="change->test-eligibilite#handleAnswer"> Oui</label>
          <label><input type="radio" name="protege" value="non" data-action="change->test-eligibilite#handleAnswer"> Non</label>
      </div>
    </form>

    <!-- Résultat final -->
    <div id="result" data-eligibilite-target="result" style="display: none;"></div>
  </div>


  </div>
</div>
