<h1>Ren0vate</h1>
<p>Bienvenue dans notre app, qui veut du bien à votre portefeuille</p>

 <strong><%= link_to "juste pour usage interne, voici un premier lien vers la liste des primes en flandre", primes_path %></strong>


<!-- Sélecteur de région -->
<div data-controller="region-selector" class="mt-3">
  <h2>Dans quelle région se situe le bien à rénover ?</h2>
  <div class="btn-group my-3" role="group">
    <button type="button" class="btn btn-outline-primary"
            data-action="click->region-selector#select"
            data-region="flandre">Flandre</button>
    <button type="button" class="btn btn-outline-primary"
            data-action="click->region-selector#select"
            data-region="wallonie">Wallonie</button>
    <button type="button" class="btn btn-outline-primary"
            data-action="click->region-selector#select"
            data-region="bruxelles">Bruxelles</button>
  </div>
</div>

<!-- Affichage des profils selon la région -->
<div data-controller="region-display">
  <div data-region-display-target="flandre" class="d-none">
    <h2>Flandre – Quel est votre profil ?</h2>
      <div class="btn-group my-3" role="group">
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="prive">Particulier</button>
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="entreprise">Entreprise</button>
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="syndic">Syndic de Copropriété</button>
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="bailleur">Bailleur social</button>
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="asbl">ASBL ou Coopérative</button>
      </div>
  </div>

  <div data-region-display-target="wallonie" class="d-none">
    <h2>Wallonie – Quel est votre profil ?</h2>
      <div class="btn-group my-3" role="group">
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="prive">Particulier</button>
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="entreprise">Entreprise</button>
      </div>
  </div>

  <div data-region-display-target="bruxelles" class="d-none">
    <h2>Bruxelles – Quel est votre profil ?</h2>
      <div class="btn-group my-3" role="group">
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="prive">Particulier</button>
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="entreprise">Entreprise</button>
        <button type="button" class="btn btn-outline-success" data-action="click->user-type#select" data-user="autres">Autres</button>
      </div>
  </div>
</div>



<div id="eligibility-test" data-controller="eligibility-test" class="d-none">
  <h2>Test d’éligibilité</h2>
  <!-- Ici, on injectera dynamiquement les questions -->
</div>
