<h1>Ren0vate</h1>
<p>Bienvenue dans notre app, qui veut du bien à votre portefeuille</p>

 <strong><%= link_to "juste pour usage interne, voici un premier lien vers la liste des primes en flandre", primes_path %></strong>
