<h1>Liste des primes</h1>

<ul class="list-group">
  <% @primes.each do |prime| %>
    <li class="list-group-item">
      <strong><%= link_to prime.titre, prime_path(prime) %></strong> –
      <%= prime.region.capitalize %> –
      <em><%= prime.slug %></em>
    </li>
  <% end %>
</ul>
