<h1>Surveillance du localStorage</h1>
<div data-controller="localstorage-monitor">
  <div data-localstorage-monitor-target="output"></div>
  <button data-action="localstorage-monitor#clearLocalStorage" class="btn btn-danger mt-3">Vider le localStorage</button>
</div>
