<h1>Surveillance du localStorage</h1>

<div data-controller="localstorage-monitor">
  <div data-localstorage-monitor-target="output" class="text-center mt-4">
    <!-- Le tableau des données sera inséré ici par le contrôleur Stimulus -->
  </div>
</div>

<div>
  <button data-action="localstorage-monitor#clearLocalStorage" class="btn btn-success mt-3 mx-auto d-block">Vider le localStorage</button>
</div>

<div class="text-center mt-4">
  <%= link_to "← Retour à l'accueil", root_path, class: "btn btn-outline-secondary" %>
</div>

<div data-controller="test">
  <p>Test de connexion du contrôleur Stimulus.</p>
</div>
